/static/images/rawfiles/
/static/images/responsefiles/
/db.sqlite3
/cert/
/secret_key.txt
/openaikey.txt
.idea
**/__pycache__
__pycache__
*.pyc
/gpt/__pycache__
/gpt/__pycache__/
/basegpt/__pycache__
/basegpt/__pycache__/
/basegpt/migrations/__pycache__/
/gpt/secret.py
/basegpt/prompts.py
/gpt/settings.py
