.header-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.header-header {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80px;
  display: flex;
  position: absolute;
  align-self: flex-end;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: 13px;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-end;
  background-color: #d3edf3;
}
.header-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
}
.header-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.header-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.header-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header-container3 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.header-image {
  height: 2rem;
}
.header-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.header-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.header-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.header-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.header-navbar-interactive {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 500px;
  bottom: 0px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.header-desktop-menu {
  display: flex;
  justify-content: center;
}
.header-nav1 {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
}
.header-text {
  cursor: pointer;
  transition: 0.3s;
  font-family: Verdana;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 16px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.header-text:hover {
  background-color: #98e4fd;
}
.header-text1 {
  cursor: pointer;
  transition: 0.3s;
  font-family: Verdana;
  margin-left: var(--dl-space-space-twounits);
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 16px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.header-text1:hover {
  background-color: #98e4fd;
}
.header-text2 {
  cursor: pointer;
  transition: 0.3s;
  font-family: Verdana;
  margin-left: var(--dl-space-space-twounits);
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 16px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.header-text2:hover {
  background-color: #98e4fd;
}
.header-text3 {
  cursor: pointer;
  transition: 0.3s;
  font-family: Verdana;
  margin-left: var(--dl-space-space-twounits);
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 16px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.header-text3:hover {
  background-color: #98e4fd;
}
.header-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.header-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.header-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.header-nav2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header-container4 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.header-menu-close1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.header-nav3 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header-text4 {
  margin-bottom: var(--dl-space-space-unit);
}
.header-text5 {
  margin-bottom: var(--dl-space-space-unit);
}
.header-text6 {
  margin-bottom: var(--dl-space-space-unit);
}
.header-text7 {
  font-family: Verdana;
}
.header-container5 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.header-icon-group1 {
  display: flex;
}
.header-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.header-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.header-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.header-image1 {
  top: 0px;
  left: 0px;
  width: auto;
  height: 100%;
  position: absolute;
  align-self: flex-start;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
@media(max-width: 1200px) {
  .header-text {
    padding-left: 1px;
    padding-right: 1px;
  }
  .header-text1 {
    padding-left: 1px;
    padding-right: 1px;
  }
  .header-text2 {
    padding-left: 1px;
    padding-right: 1px;
  }
  .header-text3 {
    padding-left: 1px;
    padding-right: 1px;
  }
}
@media(max-width: 767px) {
  .header-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .header-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .header-desktop-menu {
    display: none;
  }
  .header-text1 {
    margin-left: var(--dl-space-space-unit);
  }
  .header-text2 {
    margin-left: var(--dl-space-space-unit);
  }
  .header-btn-group {
    display: none;
  }
  .header-burger-menu {
    display: flex;
  }
}
@media(max-width: 479px) {
  .header-header {
    top: 0px;
    left: 0px;
    right: 0px;
    height: auto;
    margin: auto;
    padding: var(--dl-space-space-unit);
  }
  .header-mobile-menu {
    padding: 16px;
  }
  .header-navbar-interactive {
    left: 0px;
    width: 100%;
    bottom: -26px;
    height: 100px;
    padding: var(--dl-space-space-unit);
    position: absolute;
    justify-content: flex-start;
  }
  .header-burger-menu {
    position: relative;
  }
  .header-mobile-menu1 {
    padding: 16px;
  }
  .header-image1 {
    visibility: hidden;
  }
}
