{% extends "main.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}История{% endblock %}
{% block extra_css %}
  <link href="{% static 'css/contactus.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}
      <div class="conactus-container">
        <div class="conactus-container01">
          <div class="conactus-container02">
            <div class="conactus-container03">
              <div class="conactus-container04">
                <form class="conactus-form" action="" method="post">
                  {% csrf_token %}
                  <div class="conactus-container05">
                    <div class="conactus-container06">
                      <h1 class="conactus-text">
                        <span class="conactus-text1">Обратная</span>
                        <span class="conactus-text2">связь</span>
                      </h1>
                    </div>
                  </div>
                  <div class="conactus-container07">
                    {{form.message|add_class:"conactus-textarea textarea"}}
                  </div>
                  <div class="conactus-container08">
                    <button class="btn-pay" type="submit">
                      Отправить
                    </button>
                  </div>
                  <img
                    alt="image"
                    src="{% static 'images/phone-1000h.png' %}"
                    class="conactus-image"
                  />
                </form>
              </div>
            </div>
            <div class="conactus-container09">
              <div class="conactus-container10">
                <div class="conactus-container11"></div>
                <div class="conactus-container12">
                  <span class="conactus-text3">
                    <span class="conactus-text4">
                      Если возникли вопросы, столкнулись с ошибкой или есть
                      какие-то пожелания и предложения свяжитесь с нами. Мы
                      ответим в течение 48 часов.
                    </span>
                    <br />
                  </span>
                </div>
              </div>
              <div class="conactus-container13">
                <div class="conactus-container14"></div>
                <div class="conactus-container15">
                  <span class="conactus-text6">
                    Ответ придет на привязанную к аккаунту почту
                  </span>
                </div>
              </div>
              <div class="conactus-container16">
                <img
                  alt="image"
                  src="{% static 'images/dan%20support-900w.png' %}"
                  class="conactus-image1"
                />
              </div>
            </div>
          </div>
        </div>
      </div>


</body>
{% endblock %}