{% extends "main.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}История{% endblock %}
{% block extra_css %}
  <link href="{% static 'css/contactus.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}
      <div class="conactus-container">
        <div class="conactus-container01">
          <div class="conactus-container02">
            <div class="conactus-container03">
              <div class="conactus-container04">
                <form class="conactus-form" action="" method="post">
                  {% csrf_token %}
                  <div class="conactus-container05">
                    <div class="conactus-container06">
                      <h1 class="conactus-text">
                        <span class="conactus-text1">Обратная</span>
                        <span class="conactus-text2">связь</span>
                      </h1>
                    </div>
                  </div>
                  <div class="conactus-container07">
                    {{form.message|add_class:"conactus-textarea textarea"}}
                    <div class="conactus-container08">
                    <button class="btn-pay" type="submit">
                      Отправить
                    </button>
                  </div>
                  </div>


                </form>


                <div class="info"><p>Если возникли вопросы, столкнулись с ошибкой или есть какие-то пожелания и предложения свяжитесь с нами </p>
<br>
<p>Также вы можете написать нам на почту brainshtorm@gmail.com</p></div>
              </div>
            </div>


            </div>
          </div>
        </div>
      </div>


</body>
{% endblock %}