{% extends "main.html" %}
{% load static %}
{% block title %}Главная{% endblock %}
{% block extra_css %}
  <link href="{% static 'css/homev2.css' %}" rel="stylesheet" />
    <link href="{% static 'css/home.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}
<div>
  <link href="./homev3.css" rel="stylesheet" />
  <div class="homev3-container">
    <div class="homev3-container01">
      <div class="homev3-container02">
        <div class="homev3-container03">
          <div class="homev3-container04">
            <h1 class="homev3-text">Забудь о плагиате вместе с GPT-4</h1>
          </div>
          <div class="homev3-container05">
            <span class="homev3-text01">
              Поможем повысить оригинальность любого текста с помощью
              искусственного интеллекта
            </span>
          </div>
          <div class="homev3-container06">
            <a href="{% url 'uniquefile' %}" class="btn-pay "
              >Начать</a>
          </div>
        </div>
        <div id="radius" class="homev3-container07"></div>
        <div class="homev3-container08">
          <img
            src="{% static 'images/image.png' %}"
            alt="image"
            class="homev3-image"
          />
        </div>
      </div>
      <div class="homev3-container09">
        <div class="homev3-container10">
          <div class="homev3-container11">
            <h1 class="homev3-text02">Как это работает</h1>
          </div>
          <div class="homev3-container12">
            <span class="homev3-text03">
              Используй нейросеть и экономь свое время
            </span>
          </div>
          <div class="homev3-container13">
            <span class="homev3-text04">
              <span>
                Мы не используем скрытые пробелы, абзацы, символы, английские буквы и другие технические хитрости. Текст преобразует искусственный интеллект GPT-4. Он переформулирует текст с помощью синонимов, при этом сохраняет цитаты, фамилии, названия произведений, даты и числа.
              </span>
              <br />
              <br />
              <br />
              <span>
                Пока что не существует систем, которые точно определят был ли текст создан искусственным интеллектом. Антиплагиат, особенно бесплатный, также не способен это распознать. Единственное, что антиплагиат может обнаружить – это перефразирование. Избежать этого можно с помощью разных режимов на сайте.
              </span>
            </span>
          </div>
          <img
            alt="image"
            src="{% static 'images/Shest.png' %}"
            class="homev3-image1"
          />
          <div class="homev3-container14">
            <a href="{% url 'uniquefile' %}" class="btn-pay "
              >Попробовать</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}