{% extends "main.html" %}
{% load static %}
{% block title %}Повышение оригинальности{% endblock %}
{% block extra_css %}
  <link href="{% static 'css/file.css' %}" rel="stylesheet" />
<script src = "{% static 'js/uniquefile.js' %}"></script>

{% endblock %}

{% block content %}

<div>
      <div class="file-container">
        <div class="file-container01">
          <div class="file-container02">

            <div class="file-container03">

              <div class="file-container04">
                <form class="file-form" enctype="multipart/form-data" id="post-form-unique-file" method="post">
                  {% csrf_token %}
                  <div id = "error">{{error}}</div>
                  <div class="file-container05">
                    <div class="file-container06">
                      <h1 class="file-text">
                        <span class="file-text01">Повышение</span>
                        <span class="file-text02">УНИКАЛЬНОСТИ</span>
                      </h1>
                    </div>
                    <div class="file-container07">
                      <a
                        href="{% url 'uniquetext' %}"

                        rel="noreferrer noopener"
                        class="file-link"
                      >
                        Ввести вручную
                      </a>
                    </div>
                  </div>
                  <div class="file-container08">
                    <img
                      alt="pastedImage"
                      src="{% static 'images/pastedimage-cf5b-200h.png' %}"
                      class="file-pasted-image"
                    />
                  </div>
                  <div class="file-container09">
                    <div class="file-container10">
                      <div class="file-div">






<div class='file-input'>
 
   <label for='rawfile' class='drop-container'>
  <span class='drop-title'>Загрузите файл .txt</span>
  
  <input type='file' required=''  accept='.txt' id="rawfile" name="rawfile">
</label>
</div>
                      </div>
                    </div>
                    <div class="file-container11">
                      <div class="file-container12">
                        <span class="file-text03">Выбор режима</span>
                      </div>
                      <div class="file-container13">
                        <div class="file-div1">








<div class='checkbox-container'>
  <label class='checkbox-label'>
    <input type='radio' value="red1" name='options' class='checkbox-input' id = 'opt1ch' checked>
    <div class='checkbox-style' id = 'opt1'></div>
  </label>
  <label class='checkbox-label'>
    <input type='radio' value="red2"  name='options' class='checkbox-input' id = 'opt2ch'>
    <div class='checkbox-style' id = 'opt2'></div>
  </label>
  <label class='checkbox-label'>
    <input type='radio' value="red3" name='options' class='checkbox-input' id = 'opt3ch'>
    <div class='checkbox-style' id = 'opt3'></div>
  </label>
</div>

                      </div>
                      </div>
                      <div class="file-container14">
                        <div class="file-container15">
                          <img
                            alt="image"
                            src="{% static 'images/dangood-200h.png' %}"
                            class="file-image"
                          />
                        </div>
                        <div class="file-container16">
                          <img
                            alt="image"
                            src="{% static 'images/dannormal-200h.png' %}"
                            class="file-image1"
                          />
                        </div>
                        <div class="file-container17">
                          <img
                            alt="image"
                            src="{% static 'images/dansogood-200h.png' %}"
                            class="file-image2"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="file-container18">
                    <div class="file-container19">
                      <button class="btn-get-price" type="submit" value="Submit" id = "submitunique-file-price" name = "getprice">Посчитать цену</button>
                    </div>
                    <div class="file-container20" id = "price">
                    </div>
                    <div class="file-div2">

                      <button class="btn-pay" type="submit" value="Submit" id = "submitunique-order" name=" pay ">Купить</button>


                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="file-container21">
              <div class="file-container22">
                <span class="file-text05">
                  <span class="file-text06">Легкий режим</span>
                  <span class="file-text07">+10-60%</span>
                  <span class="file-text08">&nbsp;</span>
                  <br class="file-text09" />
                  <span class="file-text10">7 руб - 2000 символов</span>
                  <br class="file-text11" />
                  <br class="file-text12" />
                  <span class="file-text13">Средний режим +85-90%&nbsp;</span>
                  <br class="file-text14" />
                  <span class="file-text15">12 руб</span>
                  <span class="file-text16">- 2000 символов</span>
                  <br class="file-text17" />
                  <br class="file-text18" />
                  <span class="file-text19">Безумный режим +95-100%</span>
                  <span class="file-text20">&nbsp;</span>
                  <br class="file-text21" />
                  <span class="file-text22">12 руб - 2000 символов</span>
                  <br />
                </span>
              </div>
              <div class="file-container23">
                <div class="file-container24"></div>
                <div class="file-container25">
                  <span class="file-text24">
                    <span>Советуем убирать названия глав и&nbsp;</span>
                    <span>заголовки, также сноски и источники</span>
                    <br />
                    <span>Текст более 10 страниц рекомендуем делить</span>
                  </span>
                </div>
              </div>
              <div class="file-container26">
                <div class="file-container27"></div>
                <div class="file-container28">
                  <span class="file-text29">
                    <span>
                      Нажимая кнопку купить вы соглашаетесь ,что контент
                      генерируемый нейросетью может содержать ошибки,
                      неточности, и быть неполным.
                    </span>
                    <br />
                    <span>
                      Мы не несем ответственности за контент, генерируемый
                      нейросетью
                    </span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>


    {% endblock %}