{% extends "main.html" %}
{% load static %}
{% block title %}Повышение оригинальности — Рерайт текста нейросетью{% endblock %}

{% block description %}
<meta
  name="description"
  content="Увеличим оригинальность с помощью ChatGPT. Не используем скрытые пробелы, абзацы и прочее технические хитрости. Нейросеть переформулирует текст за вас и сделает это в разы быстрее"
>{% endblock %}

{% block extra_css %}
<link href="{% static 'css/uniquefilev2.css' %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html"/>


<script src = "{% static 'js/uniquefile.js' %}"></script>

{% endblock %}

{% block content %}


<div>
 <form class="file-form" enctype="multipart/form-data" id="post-form-unique-file" method="post">
                     {% csrf_token %}

  <div class="filev2-container">
    <div class="filev2-container01">
      <div class="filev2-container02">
        <div class="filev2-container03">
          <div class="filev2-container04">
            <h1 class="filev2-text">Начать рерайт</h1>
          </div>

          <div class="filev2-container05">

            <div class="filev2-container06">


<div class="filev2-container08">
                <h1 class="filev2-text01">Загрузите файл .txt</h1>
              </div>
                              <div class="filev2-container07">
                <div class="filev2-div">










<div class='form'>



  <input type='file' required=''  accept='.txt'  id="rawfile" name="rawfile">

</div>

                </div>
              </div>
              <div class="filev2-container08">
                <h1 class="filev2-text01">Выберите режим</h1>
              </div>
              <div class="filev2-container09">
                <div class="filev2-container10">
                  <div class="filev2-div1">






<div class='checkbox-container'>
  <label class='checkbox-label'>
    <input type='radio' value="red1" name='options' class='checkbox-input' id = 'opt1ch' checked>
    <div class='checkbox-style' id = 'opt1'></div>
  </label>
  <label class='checkbox-label'>
    <input type='radio' value="red2" name='options' class='checkbox-input' id = 'opt2ch'>
    <div class='checkbox-style' id = 'opt2'></div>
  </label>
  <label class='checkbox-label'>
    <input type='radio' value="red3" name='options' class='checkbox-input' id = 'opt3ch'>
    <div class='checkbox-style' id = 'opt3'></div>
  </label>
</div>

                  </div>
                </div>
              </div>

              <div class="filev2-container11">
                <ul class="filev2-ul list">
                  <li class="filev2-li list-item">
                    <span class="filev2-text02">
                      <span class="filev2-text03"><b>Легкий</b>: 5 руб / 2000 символов</span>
                    </span>
                  </li>
                  <li class="filev2-li1 list-item">
                    <span class="filev2-text06">
                      <span class="filev2-text07">
                        <b>Средний</b>: 10 руб / 2000 символов
                      </span>
                    </span>
                  </li>
                  <li class="filev2-li2 list-item">
                    <span class="filev2-text10">
                      <span class="filev2-text11">
                        <b>Безумный</b>: 15 руб / 2000 символов
                      </span>


                    </span>
                  </li>
                </ul>
              </div>

            </div>

          </div>
          <div class="filev2-container12">
            <div class="filev2-container13">
              <button class="btn-get-price" type="submit" value="Submit" id = "submitunique-file-price" name = "getprice">Посчитать цену</button>
            </div>
            <div class="filev2-container14"  id = "price">
                <div id = "error">{{error}}</div>

            </div>
            <div class="filev2-container15">
              {% if user.is_authenticated %}
                      <button class="btn-pay" type="submit" value="Submit" id = "submitunique-order" name=" pay ">Купить</button>

                        {% else %}
                      <a href="{% url 'login' %}" class="btn-pay">Купить</a>
                      {% endif %}
            </div>
          </div>
          <div class="filev2-container16">
            <h1 class="filev2-text16">Описание режимов</h1>
          </div>
          <div class="filev2-container17">

           <div class="container-red">

               <h1 class="procent h-red1">Добавит 5-10%</h1>
               <div class = "text-red red1"><span><b>Первый режим</b> перефразирует текст и наполнит его синонимами. Почти не добавит информации</span></div>


           </div>
           <div class="container-red">
               <h1 class="procent h-red2">Повысит до 75%</h1>
               <div class = "text-red red2"><span><b>Второй</b> режим не только перефразирует текст, но и добавит информацию. В соотношении примерно два к одному</span></div>

           </div>
          </div>
            <div class="filev2-container172">

           <div class="container-red">

               <h1 class="procent h-red3">Повысит до 90%</h1>
               <div class = "text-red red3"><span><b>Третий режим</b> самый жестокий. Он работает как создатель текстов на основе исходника. Выделив тему и основные тезисы, он создаст новый текст</span></div>


           </div>

          </div>
            <div class="homev4-containerfaq">
                <section id="faq">

        <!-- Heading -->
        <div class="faq-heading">
            <h1>Ответы на вопросы</h1>

        </div>

        <!-- Container -->
        <div class="faq-content">
            <!-- faq -->
            <div class="faq-box-container">


<div class="faq-box">
                    <div class="faq-box-question ">
                            <h4>Как это работает?</h4>
                            <span class="faq-box-icon"></span>
                    </div>
                    <div class="faq-box-answer">
                        <p>Мы не используем скрытые пробелы, абзацы, символы, английские буквы и другие технические хитрости. Текст преобразует искусственный интеллект ChatGPT. Он переформулирует текст с помощью синонимов, но сохраняет цитаты, фамилии, названия произведений, даты и числа</p>
                    </div>
                </div>
                <div class="faq-box">
                    <div class="faq-box-question ">
                            <h4>Тексты от нейросети пройдут антиплагиат?</h4>
                            <span class="faq-box-icon"></span>
                    </div>
                    <div class="faq-box-answer">
                        <p>Пока что не существует систем, которые точно определят был ли текст создан искусственным интеллектом или нет. Антиплагиат, особенно бесплатный, также не может это распознать. Единственное, что антиплагиат может обнаружить – это перефразирование. Избежать этого можно с помощью разных режимов на сайте</p>
                    </div>
                </div>
                 <div class="faq-box">
                    <div class="faq-box-question ">
                            <h4>Стоит чистить текст перед отправкой?</h4>
                            <span class="faq-box-icon"></span>
                    </div>
                    <div class="faq-box-answer">
                        <p>Да, советуем убирать названия глав и заголовки, также сноски и источники</p>


                        </div>
                </div>

                <div class="faq-box">
                    <div class="faq-box-question ">
                            <h4>Можно загрузить файл на 20 страниц?</h4>
                            <span class="faq-box-icon"></span>
                    </div>
                    <div class="faq-box-answer">
                        <p>Можно, но текст более 10 страниц рекомендуем делить. Чем больше файл, тем дольше время ожидания ответа. И соответсвено увеличивается шанс ошибки от сервера Microsoft</p>

                    </div>
                </div>


            </div>

        </div>

    </section>






            </div>


        </div>

      </div>
    </div>
  </div>
 </form>
</div>



    <script>
var faq = document.getElementsByClassName("faq-box-question");
var i;
for (i = 0; i < faq.length; i++) {
    faq[i].addEventListener("click", function () {
        /* Toggle between adding and removing the "active" class,
        to highlight the button that controls the panel */
        this.classList.toggle("active");
        /* Toggle between hiding and showing the active panel */
        var body = this.nextElementSibling;
        if (body.style.maxHeight === "2000px") {
            body.style.maxHeight = "0px";
        } else {
            body.style.maxHeight = "2000px";
        }
    });
}
    </script>

    {% endblock %}