{% extends "main.html" %}
{% load static %}
{% block title %}Повышение оригинальности{% endblock %}
{% block extra_css %}
<link href="{% static 'css/uniquefile.css' %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html"/>
<script src = "{% static 'js/uniquefile.js' %}"></script>

{% endblock %}

{% block content %}


<div>
 <form class="file-form" enctype="multipart/form-data" id="post-form-unique-file" method="post">
                     {% csrf_token %}

  <div class="filev2-container">
    <div class="filev2-container01">
      <div class="filev2-container02">
        <div class="filev2-container03">
          <div class="filev2-container04">
            <h1 class="filev2-text">Загрузите файл .txt</h1>
          </div>

          <div class="filev2-container05">

            <div class="filev2-container06">
              <div class="filev2-container07">
                <div class="filev2-div">










<div class='form'>



  <input type='file' required=''  accept='.txt'  id="rawfile" name="rawfile">

</div>

                </div>
              </div>


              <div class="filev2-container08">
                <h1 class="filev2-text01">Выберите режим</h1>
              </div>
              <div class="filev2-container09">
                <div class="filev2-container10">
                  <div class="filev2-div1">






<div class='checkbox-container'>
  <label class='checkbox-label'>
    <input type='radio' value="red1" name='options' class='checkbox-input' id = 'opt1ch' checked>
    <div class='checkbox-style' id = 'opt1'></div>
  </label>
  <label class='checkbox-label'>
    <input type='radio' value="red2" name='options' class='checkbox-input' id = 'opt2ch'>
    <div class='checkbox-style' id = 'opt2'></div>
  </label>
  <label class='checkbox-label'>
    <input type='radio' value="red3" name='options' class='checkbox-input' id = 'opt3ch'>
    <div class='checkbox-style' id = 'opt3'></div>
  </label>
</div>

                  </div>
                </div>
              </div>
              <div class="filev2-container11">
                <ul class="filev2-ul list">
                  <li class="filev2-li list-item">
                    <span class="filev2-text02">
                      <span class="filev2-text03">Легкий режим добавляет</span>
                      <span class="filev2-text04">2-10%</span>
                      <span class="filev2-text05">- Бесплатно</span>
                    </span>
                  </li>
                  <li class="filev2-li1 list-item">
                    <span class="filev2-text06">
                      <span class="filev2-text07">
                        Средний режим повышает до 
                      </span>
                      <span class="filev2-text08">60-90%</span>
                      <span class="filev2-text09">
                        - 10 руб за 2000 символов
                      </span>
                    </span>
                  </li>
                  <li class="filev2-li2 list-item">
                    <span class="filev2-text10">
                      <span class="filev2-text11">
                        Безумный режим повышает до 
                      </span>
                      <span class="filev2-text12">85-95%</span>
                      <span class="filev2-text13">- 15 </span>
                      <span class="filev2-text14">руб за 2000 символов</span>
                    </span>
                  </li>
                </ul>
              </div>
              <img

                src=" {% static 'images/lampicon.png' %}"
                class="filev2-image"
              />
            </div>

          </div>
          <div class="filev2-container12">
            <div class="filev2-container13">
              <button class="btn-get-price" type="submit" value="Submit" id = "submitunique-file-price" name = "getprice">Посчитать цену</button>
            </div>
            <div class="filev2-container14"  id = "price">
                <div id = "error">{{error}}</div>

            </div>
            <div class="filev2-container15">
              {% if user.is_authenticated %}
                      <button class="btn-pay" type="submit" value="Submit" id = "submitunique-order" name=" pay ">Купить</button>

                        {% else %}
                      <a href="{% url 'login' %}" class="btn-pay">Купить</a>
                      {% endif %}
            </div>
          </div>
          <div class="filev2-container16">
            <h1 class="filev2-text16">Важно знать</h1>
          </div>
          <div class="filev2-container17">
            <img
              alt="image"
              src=" {% static 'images/iconimportant.png' %}"
              class="filev2-image1"
            />
            <span class="filev2-text17">
              <span><span class ="highlight">Первый режим</span> перефразирует текст и наполняет его синонимами. Почти не добавляет информации.
</span>
<br />
              <br />
              <span><span class ="highlight">Второй режим</span> не только перефразирует текст, но и добавляет информацию. В соотношении примерно два к одному.
</span>
              <br />
              <br />
              <span><span class ="highlight">Третий режим</span> самый жестокий. Он работает как создатель текстов на основе исходника. Выделив тему и основные тезисы, он создаст новый текст.</span>
              <br />
              <br />
              <span>Советуем убирать названия глав и  заголовки, также сноски и источники.</span>
              <br />
              <br />
              <span>Текст более 10 страниц рекомендуем делить. Чем больше файл, тем дольше время ожидания ответа.</span>
              <br />
              <span></span>
            </span>
          </div>
        </div>

      </div>
    </div>
  </div>
 </form>
</div>





    {% endblock %}